@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

:root {
  --orange: #dc6d00;
  --light-purple: #49557e;
  --white: #ffffff;
  --light-gray: #e2e2e2;
  --extra-light-gray: #f7f7f7;
  --gray: #747474;
  --dark-gray: #262626;
  --light-green: #d4ffd6;
  --green: #00c414;
  --light-red: #ffd1d1;
  --red: #fc2828;
  --black: #000000;
  --transition: 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.app {
  width: 80%;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
